<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DIIT Accounting Software</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.min.css}"/>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.material.min.css}"/>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}"/>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.foundation.min.css}"/>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.semanticui.min.css}"/>-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.uikit.min.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables_themeroller.css}"/>-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .shadow-item{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>
<body>
<div th:replace="fragment/navbar.html :: nav"></div>
<div th:replace="fragment/tags.html :: tags"></div>

<script type="text/javascript">

    var programList = [];
    var batchList = [];


    $( function() {

        $("#startDate").datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $("#endDate").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });

    $(document).ready(function(){

        funGenerateProgramCombo();
        funGetAllBatch();
        funGenerateGrid();

        // function for validating form before submit
        function validator(){

            var programId 			= $.trim($("#programId").val());
            var fkProgramBatchId 	= $.trim($("#fkProgramBatchId").val());
            var semesterNo 			= $.trim($("#semesterNo").val());
            var startDate 			= $.trim($("#startDate").val());
            var endDate 			= $.trim($("#endDate").val());

            if(programId == 'null'){

                alert("Please select a program");
                return false;

            } else if(fkProgramBatchId == 'null'){

                alert("Please select a batch");
                return false;
            } else if(semesterNo == ''){

                alert("Please enter semester no");
                return false;
            } else if(startDate == ''){

                alert("Please enter semester start date");
                return false;
            } else if(endDate == ''){

                alert("Please enter semester end date");
                return false;
            }

            return true;
        }

        /* Submitting form to controller*/
        $("#submit").click(function(event) {

            event.preventDefault();

            if (validator()){

                var data = {};

                data["programId"] 			= $.trim($("#programId").val());
                data["fkProgramBatchId"] 	= $.trim($("#fkProgramBatchId").val());
                data["semesterNo"] 			= $.trim($("#semesterNo").val());
                data["startDate"] 			= $.trim($("#startDate").val());
                data["endDate"] 			= $.trim($("#endDate").val());

                $.ajax({
                    type: "POST",
                    url: "savesemester",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        //$("#btnClear").click();
                        $("#submit").prop("disabled", false);
                        $("#successMessage").html(data);
                        $("#successMessage").removeClass("hidden");
                        $("#errorMessage").addClass("hidden");
                        // funGenerateDataGrid(programList);
                    },
                    error: function (e) {
                        $("#errorMessage").html("Error: Record Not Saved");
                        $("#errorMessage").removeClass("hidden");
                        $("#submit").prop("disabled", false);
                        alert(JSON.stringify(e));
                    }
                });

            } // End of validation


        }); // End of form submission

    }); //End of $(document).ready

    //Function for generating program combo
    function funGenerateProgramCombo(){

        //Getting All Programs from database
        $.post("getAllPrograms",function(data){

            var combo = '<select id="programId" name="programId" class="form-control" onchange="funGenerateBatchCombo()"><option value="null">Select Program</option>';

            for ( var key in data) {

                var element = {id:[],programName:[],semesters:[],durationMonths:[]};
                element["id"]  = data[key].id;
                element["programName"]  = data[key].programName;
                element["semesters"] = data[key].semesters;
                element["durationMonths"]  = data[key].durationMonths;

                programList.push(element);
                combo += '<option value="' + data[key].id+ '">' + data[key].programName + '</option>';
            }

            combo += '</select>';
            $("#divProgramList").html(combo);
        });	 // End Post method program list
    }

    // function for employee search by department
    function funGenerateBatchCombo(){

        filteredBatchs = [];


        var combo = '<select id="fkProgramBatchId" name="fkProgramBatchId" class="form-control"><option value="null">Select Batch</option>';

        var data = $.grep( batchList, function( n, i ) {
            return $.trim(n.programId) === $.trim($("#programId").val());
        });

        for ( var key in data) {

            combo += '<option value="' + data[key].id+ '">' + data[key].batchNo + '</option>';
        }

        combo += '</select>';
        $("#divBatchList").html(combo);
    }


    //Function for generating program batch json list
    function funGetAllBatch(){

        //request sent to ProgramBatchsController
        $.post("getAllProgramBatchs",function(data){

            for(key in data){

                var element = {id:[],programId:[],batchNo:[]};

                element["id"] = data[key].id;
                element["programId"] = data[key].programs.id;
                element["batchNo"] = data[key].batchno;

                batchList.push(element);
            }
        });
    }

    function funGenerateGrid(){
        $.post("getallsemesters",function(data){
            $('#tblSemesterInfo').DataTable().destroy();
            $("#tbodySemesterInfo").empty();
            var tr = '';

            for(var key in data){

                tr += '<tr><td style="display:none;">'
                    + data[key].id
                    + '</td><td>'
                    + data[key].fkProgramBatchId
                    + '</td><td>'
                    + data[key].semesterNo
                    + '</td><td>'
                    + data[key].startDate
                    + '</td><td>'
                    + data[key].endDate
                    + '</td><td><p data-placement="top" data-toggle="tooltip" title="Delete"> <button type="button" class="btn btn-outline-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete">Delete</button></p></td></tr>';

            }

            $('#tblSemesterInfo').append(tr);
            $('#tblSemesterInfo').DataTable({
                "order": [ 0, 'asc']
            });
        });
    }
</script>
<div class="common">
    <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">

                <div class="col-6 shadow-item" style="padding-top: 15px;padding-bottom: 15px; right:10px">
                    <fieldset>
                        <legend class="alert alert-info" style="margin:20px 0 20px 0;" id="selectedEmployeeTitle">Existing Data</legend>
                        <table id="tblSemesterInfo" class="table">
                            <thead>
                            <tr>
                                <th style="display:none;">Id</th>
                                <th>Program</th>
                                <th>Semester NO</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="tbodySemesterInfo">
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div class="col-6 shadow-item" style="margin-left:0px;margin-right: 0px;left: 10px;padding-top: 15px;">

                    <div id="successMessage" align="center" class="hidden alert alert-success"></div>
                    <div id="errorMessage" class="alert-danger" style="display: none;"></div>

                    <form id="frmPayment" class="well">

                        <fieldset>
                            <legend class="alert alert-info">Semester Information</legend>

                            <!-- Form Name -->
                            <input class="hidden" id="tmpHeadId form-control" name="tmpHeadId" type="text" value="0" />

                            <div class="row" style="margin-right: 0px;margin-left: 0px">
                                <div class="col-6 form-group required" style="padding-left: 0px;padding-right: 10px;">
                                    <label class="control-label requiredField" for="fkProgramBatchId">Program</label>
                                    <div class="form-group" id="divProgramList"></div>
                                </div>
                                <div class="col-6 form-group required" style="padding-left: 10px; padding-right: 0px;">
                                    <label class="control-label requiredField" for="fkProgramBatchId">Batch</label>
                                    <div class="form-group" id="divBatchList"></div>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="row" style="margin: 0px">
                                <div class="col-4" style="padding-left: 0px;padding-right: 5px;">
                                    <div class="form-group required">
                                        <label class="control-label requiredField" for="semesterNo">Semester NO</label>
                                        <input id="semesterNo" name="semesterNo" placeholder="Enter student ID" class="form-control" type="text" required="required" />
                                    </div>
                                </div>
                                <div class="col-4" style="padding-left: 5px;padding-right: 5px;">

                                    <div class="form-group required" id="marksVersion">
                                        <label class="control-label requiredField" for="startDate">Start Date</label>
                                        <input id="startDate" name="startDate" placeholder="Enter semester start date" class="form-control" type="text" required="required" readonly="readonly" />
                                    </div>
                                </div>

                                <div class="col-4" style="padding-left: 5px;padding-right: 0px;">

                                    <div class="form-group required" id="marksVersion">
                                        <label class="control-label requiredField" for="endDate">End Date</label>
                                        <input id="endDate" name="endDate" placeholder="Enter semester end date" class="form-control" type="text" required="required" readonly="readonly" />
                                    </div>
                                </div>
                            </div>


                            <!-- Button -->
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-6 d-flex justify-content-center">
                                    <input id="btnClear" type="button" name="btnClear" value="Clear Form" class="btn btn-warning" style="margin-right:5px"/>
                                    <button id="submit" name="submit" class="btn btn-primary" style="margin-left: 5px">Save Data</button>
                                </div>
                            </div>


                        </fieldset>
                    </form>
                    <h5 class="bg-info">Note: If you want to update data, Please double click specific row from the grid, make change and click on save button. </h5>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-confirm" title="Are you sure you want to delete this?" style="display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>The record will delete permanently. Are you sure?</p>
    </div>
</div>
<div th:replace="fragment/footer.html :: footer_rel"></div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>
</html>