<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DIIT Accounting Software</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>

</head>
<body>
<div th:replace="fragment/navbar.html :: nav"></div>

    <div class="common" >
        <div class="row">
            <div class="border-items col-sm-3">
                <div class="card">

                    <a href="/createpersoninfo"><img class="card-img-top" th:src="@{/images/student.png}"
                                                     alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/createpersoninfo"><p class="card-text font-weight-bold" style="text-align: center">Student
                            Information</p></a>
                    </div>
                </div>
            </div>
            <div class="border-items col-sm-3">
                <div class="card ">

                    <a href="/paymentcollection"><img class="card-img-top" th:src="@{/images/payment.png}"
                                                      alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/paymentcollection"><p class="card-text font-weight-bold" style="text-align: center">
                            Payment</p></a>
                    </div>
                </div>
            </div>
            <div class="border-items col-sm-3">
                <div class="card ">

                    <a href="/generatepayable"><img class="card-img-top" th:src="@{/images/payable.png}"
                                                    alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/generatepayable"><p class="card-text font-weight-bold" style="text-align: center">Generate
                            Payable</p></a>
                    </div>
                </div>

            </div>
            <div class="border-items col-sm-3">
                <div class="card ">

                    <a href="/studentwaiversetup"><img class="card-img-top" th:src="@{/images/waiver.png}"
                                                       alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/studentwaiversetup"><p class="card-text font-weight-bold" style="text-align: center">
                            Waiver Configuration</p></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="border-items col-sm-3">
                <div class="card">

                    <a href="/rptstudentledgercheck"><img class="card-img-top" th:src="@{/images/balance.png}"
                                                          alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/rptstudentledgercheck"><p class="card-text font-weight-bold" style="text-align: center">
                            DUE/Balance Check</p></a>
                    </div>
                </div>
            </div>
            <div class="border-items col-sm-3">
                <div class="card ">

                    <a href="/rptcollection"><img class="card-img-top" th:src="@{/images/collections.png}"
                                                  alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/rptcollection"><p class="card-text font-weight-bold" style="text-align: center">Student
                            Collection</p></a>
                    </div>
                </div>
            </div>
            <div class="border-items col-sm-3">
                <div class="card ">

                    <a href="/rptstudentledger"><img class="card-img-top" th:src="@{/images/ledger.png}"
                                                     alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/rptstudentledger"><p class="card-text font-weight-bold" style="text-align: center">Student
                            Ledger</p></a>
                    </div>
                </div>

            </div>
            <div class="border-items col-sm-3">
                <div class="card ">

                    <a href="/rptbatchledger"><img class="card-img-top" th:src="@{/images/ledger.png}" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/rptbatchledger"><p class="card-text font-weight-bold" style="text-align: center">
                            Batch-wise Ledger</p></a>
                    </div>
                </div>
            </div>

        </div>

    </div>


<div th:replace="fragment/footer.html :: footer_home"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>