<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DIIT Accounting Software</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

<div th:replace="fragment/navbar.html :: nav"></div>
<div th:replace="fragment/tags.html :: tags"></div>

<style>
    @page {
        size: 7in 9.25in;
        margin: 27mm 16mm 27mm 16mm;
    }
    .hidden{
        display: none !important;
        visibility: hidden !important;
    }
    body {
        background: rgb(204,204,204);
    }
    page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    page[size="A4"] {
        width: 21cm;
        /* height: 29.7cm;
         overflow: inherit; */
    }
    page[size="A4"][layout="portrait"] {
        width: 29.7cm;
        /* height: 21cm;
         overflow: inherit; */
    }
    page[size="A3"] {
        width: 29.7cm;
        height: 42cm;
    }
    page[size="A3"][layout="portrait"] {
        width: 42cm;
        height: 29.7cm;
    }
    page[size="A5"] {
        width: 14.8cm;
        height: 21cm;
    }
    page[size="A5"][layout="portrait"] {
        width: 21cm;
        height: 14.8cm;
    }
    @media print {
        body, page {
            margin: 0;
            box-shadow: 0;
        }


    }

</style>
<script type="text/javascript">

    var diitLogo = "/static/images/Diit_logo.png";
    var studentInfoList = [];
    var curDate = funCurDate();
    var progName;
    var batchNo;
    var studentName;

    $("#startDate").val(curDate);
    $("#endDate").val(curDate);

    $( function() {

        $("#startDate").datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $("#endDate").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });


    $(document).ready(function(){

        //funGetStudentLedger('710001814');
        // funGetStudentInfoList();
        // getSingleStudentInfo();

    }); // End of $(document).ready()


    function funGetStudentLedger(studentId, endDate){

        //Request sent to VwStudentPaymentInfoController
        var count = 0;
        $("#divloader").css("display", "block");
        $.post("getstudentpaymentinfo",{studentId: studentId, endDate: endDate}, function(data){
            var reportData = '<div class="form-group" align="center">'
                + '<img src="' + diitLogo + '" width="150" height="60">'
                + '<h4 style="width: 350px; border-bottom:1px solid #000; margin-top:20px; font-style:italic;" align="center">Student Ledger</h4>'
                + '</div><div align="right"><table cellpadding="1" cellspacing="1" style="margin:5px 10px -10px 0; ">';
            var paymentData = '';
            var tmpYear = '';
            var totPayable = 0;
            var totPaid = 0;
            var totWaived = 0;
            var grandPayable = 0;
            var grandPaid = 0;
            var grandWaived = 0;

            for(var key in data){

                var paidDate = '';
                if($.trim( data[key].paidDate) != ''){ paidDate = data[key].paidDate }

                if(count == 0){
                    reportData += '<tr><td align="right"></td><td></td><td align="right">' + studentId + '</td></tr>'
                        + '<tr><td align="right"></td><td></td><td align="right">' + studentName + '</td></tr>'
                        + '<tr><td align="right"></td><td></td><td align="right">' + progName + '</td></tr>'
                        + '<tr><td align="right"></td><td></td><td align="right">Batch (' + batchNo + ')</td></tr>';
                    count = 1;
                }


                //Year wise grouping
                if(tmpYear != data[key].payableMonth.substring(0,4)){

                    if(parseInt(key) > 1){

                        grandPayable += totPayable;
                        grandPaid += totPaid;
                        grandWaived += totWaived;

                        paymentData += '<tr><td> </td><td><b>SUB-TOTAL</b></td><td align="right"><b>' + totPayable + '</b></td><td align="right"><b>' + totPaid + '</b></td><td align="right"><b>' + totWaived + '</b></td><td><b>DUE ( ' + (totPayable - (totPaid + totWaived)) + ' )</b></td></tr></table>';

                        totPayable = 0;
                        totPaid = 0;
                        totWaived = 0;
                    }

                    paymentData += '<div class="form-group"><em class="h4">Payable Year: ' + data[key].payableMonth.substring(0,4) + '</em></div>'
                        + '<table class="table" style="width:750px; border: 1px solid #ddd; font-size: 12px"><tr><td style="width:120px;"><b>Payable Month/Year</b></td><td style="width:200px;"><b>Payable Head</b></td><td style="width:100px;" align="right"><b>Payable Amount</b></td><td style="width:90px;" align="right"><b>Paid Amount</b></td><td style="width:90px;" align="right"><b>Waived Amount</b></td><td align="center" style="width:120px;"><b>Paid Date</b></td></tr>'
                        + '<tr><td> ' + funGetMonthName(data[key].payableMonth.substring(5)) +", "+ data[key].payableMonth.substring(0,4) + ' </td><td> ' + data[key].headName + ' </td><td align="right">' + data[key].payable + '</td><td align="right">' + data[key].paidAmount + '</td><td align="right">' + data[key].payableWaiver + '</td><td align="center">' + paidDate.substring(0,10) + '</td></tr>';

                    tmpYear = data[key].payableMonth.substring(0,4);

                    totPayable += data[key].payable;
                    totPaid += data[key].paidAmount;
                    totWaived += data[key].payableWaiver;


                } else {
                    paymentData += '<tr><td> ' + funGetMonthName(data[key].payableMonth.substring(5)) +", "+ data[key].payableMonth.substring(0,4) + ' </td><td> ' + data[key].headName + ' </td><td align="right">' + data[key].payable + '</td><td align="right">' + data[key].paidAmount + '</td><td align="right">' + data[key].payableWaiver + '</td><td align="center">' + paidDate.substring(0,10) + '</td></tr>';

                    totPayable += data[key].payable;
                    totPaid += data[key].paidAmount;
                    totWaived += data[key].payableWaiver;
                }
            }

            reportData += '</table></div>';

            grandPayable += totPayable;
            grandPaid += totPaid;
            grandWaived += totWaived;

            $("#reportData").html( reportData + paymentData + '<tr><td> </td><td><b>SUB-TOTAL</b></td><td align="right"><b>' + totPayable + '</b></td><td align="right"><b>' + totPaid + '</b></td><td align="right"><b>' + totWaived + '</b></td><td><b>DUE ( ' + (totPayable - (totPaid + totWaived)) + ' )</b></td></tr>'
                + '<tr><td> </td><td><b>GRAND TOTAL</b></td><td align="right"><b>' + grandPayable + '</b></td><td align="right"><b>' + grandPaid + '</b></td><td align="right"><b>' + grandWaived + '</b></td><td><b>DUE ( ' + (grandPayable - (grandPaid + grandWaived)) + ' )</b></td></tr></table></table>');

            $("#printReport").css("display", "inline");
            $("#backButton").css("display","inline");
            $("#divloader").css("display", "none");
        });
    }


    //Function for getting student information
    /*function funGetStudentInfoList(){

        $.post("getallstudentinfos",function(data){
            studentInfoList = [];

            for(var key in data){
                var element = {studentId:[],name:[],admissionDate:[],programName:[],batchno:[],ssccgpa:[],hsccgpa:[],cgpaSchemeId:[],contactNo:[]};
                element["studentId"] 		= data[key].studentId;
                element["name"] 			= data[key].name;
                element["admissionDate"] 	= data[key].admissionDate;
                element["programName"] 		= data[key].programName;
                element["batchno"] 			= data[key].batchno;
                element["ssccgpa"] 			= data[key].ssccgpa;
                element["hsccgpa"] 			= data[key].hsccgpa;
                element["cgpaSchemeId"] 	= data[key].cgpaSchemeId;
                element["contactNo"] 		= data[key].contactNo;

                studentInfoList.push(element);
            }


        });
    }*/
    function getSingleStudentInfo(studentId) {
        $.post("getsinglestudentinfo",{
            "studentId":studentId
        },function(data){
            progName = data.programName;
            studentName = data.name;
            batchNo = data.batchno;
           /* console.warn("res progName: ",progName);
            console.warn("res studentName: ",studentName);
            console.warn("res batchNo: ",batchNo);*/
        });
    }


    function funShowReport(){

        var studentId = $("#studentId").val();
        var reportControl = $("input[name='reportOption']:checked").val();
        var endDate = $("#endDate").val();
        console.log("StudentId: ", studentId);
        getSingleStudentInfo(studentId);

        //alert(reportControl);

        if($.trim(studentId) == ''){
            alert("Please enter a student id..");
            return false;
        } else if( reportControl == "duration"){

            if($.trim(endDate) != ""){
                funGetStudentLedger(studentId, $.trim(endDate));
            } else {
                alert("Please enter a date..");
                return false;
            }

        } else {
            funGetStudentLedger(studentId,"");
        }

    }

    function printReport(){
        $("#divReportParent").css("display","none");
        $("#printReport").css("display","none");
        $("#backButton").css("display","none");
        window.print();
        $("#backButton").css("display","inline");
        $("#printReport").css("display","inline");
    }

    function goBack(){
        $("#divReportParent").css("display","inline");
        $("#backButton").css("display","none");
        $("#printReport").css("display","none");
        $("#reportData").html("");
        funOptionControl($("input[name='reportOption']:checked").val());
    }


    function funOptionControl(varOption){

        if(varOption == "full"){
            $("#divDateRange").css("display","none");
        } else if( varOption == "duration" ){
            $("#divDateRange").css("display","inline");
        }

    }
</script>


<page size="A4">

    <div id="divReportParent">

        <div class="row">
            <div class="row" style="margin: 0px; width: 100%">
                <div class="form-group col-4" style="margin-top: 20px;">
                    <label class="control-label requiredField" align="center" style="margin-top: 10px;padding-left: 15px; font-weight: bold">Student Ledger Report</label>
                </div>
                <!--            <div class="col-lg-6">-->
                <div class="input-group col-6"  style="padding: 20px 0 0 5px;">
                    <input type="text" id="studentId" name="studentId" class="form-control" placeholder="Enter Student Id">
                    <span class="input-group-btn">
			        	<button class="btn btn-info" type="button" onclick="funShowReport()">Show Report!</button>
                    </span>
                </div>
                <div class="col-2" id="divloader" style="float: right; padding-top: 30px; display: none" align="left">
                    <img src="/static/images/ajaxloader.gif" th:src="@{/images/ajaxloader.gif}">
                </div>
            </div>
            <div class="row" style="width: 100%; margin: 0px">
                <div class="input-group col-12"  style="left: 15px;">
                    <h3>Option</h3>
                    <label class="radio-inline" style="padding: 8px">
                        <input name="reportOption" id="radio1" value="full" type="radio" checked="checked" onchange="funOptionControl('full')"> Full
                    </label>
                    <label class="radio-inline" style="padding: 8px">
                        <input name="reportOption" id="radio2" value="duration" type="radio" onchange="funOptionControl('duration')"> Up To
                    </label>
                </div>
                <div id="divDateRange" class="input-group row"  style="margin-left: 0px;margin-right: 0px;padding-bottom: 15px;padding-left: 15px; display: none">

                    <div class="col-lg-6 required">
                        <input id="endDate" name="endDate" placeholder="Select Date" class="form-control" type="text" readonly="readonly" required="required" />
                    </div>
                </div>
            </div>




<!--            </div>-->

        </div>

        <div id="divEmployeeList"></div>
        <div id="errorMessage" class=" hidden alert alert-danger" align="center" style="margin:10px;">

        </div>
    </div>
    <p><a href="javascript:void(0)" id="printReport" style="display:none; margin-left: 30px;" onclick=" printReport()">Print Report</a></p>
    <p><a href="javascript:void(0)" id="backButton" style="display:none; margin-left: 30px;" onclick="goBack()">Back</a></p>
        <div class="container-fluid" id="reportData" style="font-size: 12px;">

    </div>

</page>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>